$primary-palette: (
  50 : #e7f2f8,
  100 : #c2dfed,
  200 : #9ac9e2,
  300 : #72b3d6,
  400 : #53a3cd,
  500 : #3593c4,
  600 : #308bbe,
  700 : #2880b6,
  800 : #2276af,
  900 : #1664a2,
  A100 : #d5ebff,
  A200 : #a2d3ff,
  A400 : #6fbbff,
  A700 : #56afff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$error-palette: (
  50 : #f5e3e6,
  100 : #e5b8c0,
  200 : #d48997,
  300 : #c3596d,
  400 : #b6364d,
  500 : #a9122e,
  600 : #a21029,
  700 : #980d23,
  800 : #8f0a1d,
  900 : #7e0512,
  A100 : #ffadb2,
  A200 : #ff7a82,
  A400 : #ff4752,
  A700 : #ff2d3a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
